.root
{
    -fx-font-size: 13pt;
    -fx-font-family: Algerian;
    -fx-background-color: linear-gradient(to bottom , #6EBDC4, #CE647D, #47BEEB,#FB0476,#F1EF41);
}

.label
{
    -fx-text-fill: black;

}

#header
{
    -fx-font-size: 30pt;
}